# Παραδειγματικό αρχείο .env για την εφαρμογή FastAPI
# Δεν ανεβαζομε τα αληθινα secrets στο Github, 
# οπότε χρησιμοποιούμε αυτό το αρχείο ως πρότυπο.

APP_NAME=Student Center API
APP_ENV=development
APP_DEBUG=True

DATABASE_URL=postgresql://postgres:postgres@db:5432/student_center_db